@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');


body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html, body, #root {
    height: 100%;
}

h1 {
    margin-bottom: 0;
}


.scrl::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.scrl::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    border: 1px solid #000;
}

.scrl::-webkit-scrollbar-thumb {
    background-color: #cccccc;
}


body::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    border: 1px solid #000;
}

body::-webkit-scrollbar-thumb {
    background-color: #cccccc;
}
