div.akEditor > div:first-child {
    height : 50px;
    border-bottom: 1px solid #eaeaea;

    padding-left: 10px;
    padding-right: 10px;
}

div.fabric-editor-popup-scroll-parent > div > div {
    padding-top: 20px;
}
